.flex1-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns {
  border: 1px solid lightblue;
  border-radius: 0.5rem;
  color: white;
  background-color: #4b7398;
  padding: 0.45rem 0.35rem;
}

.flex2-container {
  display: flex;
}
.p-flexbox2 {
  border: 1px solid lightblue;
  border-radius: 0.5rem;
  color: white;
  background-color: #4b7398;
  padding: 0.45rem 0.35rem;
  width: 150px;
}
.flex31-container {
  display: flex;
  justify-content: center;
  padding: 0rem 1.3rem 0.75rem 1.3rem;
}
.logo-div {
  background-color: #add8e6;
  flex: 1 1 33%;
  margin: 0 1.3rem 0 0;
}
.slika-div {
  background-color: #add8e6;
  flex: 1 1 66%;
}

.flex33-container {
  display: flex;
  justify-content: center;
  padding: 0rem 1.3rem;
  height: 100px;
}
.aside-div {
  position: relative;
  flex: 0 1 20%;
  background-color: #ffa500;
  display: flex;
  justify-content: left;
  align-content: flex-end;
  margin-right: 1%;
}
.p-aside {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}
.menu-container {
  display: flex;
  justify-content: center;
}
.menu-div {
  background-color: #90ee90;
  flex: 0 1 57.5%;
}
.main-div {
  background-color: #ffa500;
  display: inline-block;
  flex: 0 1 60%;
}
.aside2-div {
  background-color: #ffa500;
  flex: 0 1 20%;
  margin-left: 1%;
}

/*CSS Animation#1 */
@keyframes animation1 {
  from {
    background-color: #302d2d;
  }
  to {
    background-color: #ca4e05;
    transform: translate(0, -150px);
    width: 400px;
    height: 150px;
  }
}
.animation-div {
  border: 0.1rem solid transparent;
  border-radius: 0.7rem;
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 100px;
  animation-name: animation1;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
.animation-container {
  position: relative;
  display: flex;
  justify-content: center;
  height: 350px;
}

/* CSS Animation#2 */
.animation2-container {
  display: flex;
  justify-content: space-between;
}
.btns2 {
  border: 0.1rem solid transparent;
  background-color: #ffa500;
  padding: 0.45rem 0.35rem;
  width: 20%;
  font-size: large;
}
.btns2:hover {
  border-radius: 1rem;
  background-color: #ff8800;
  color: white;
}
/* CSS Animation#3 */
.animation3-container {
  width: 300px;
  height: 300px;
  border: 10px solid white;
  text-align: center;
  line-height: 300px;
  font-weight: 700;
  font-size: 1.5rem;
  color: white;

  animation-name: topborder, rightborder, bottomborder, leftborder, span;
  animation-duration: 1s, 1s, 1s, 1s, 1.5s;
  animation-delay: 0s, 1s, 2s, 3s, 4s;
  animation-iteration-count: 1, 1, 1, 1, infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes topborder {
  from {
    border-top-color: white;
  }
  to {
    border-top-color: black;
  }
}
@keyframes rightborder {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: black;
  }
}
@keyframes bottomborder {
  from {
    border-bottom-color: white;
  }
  to {
    border-bottom-color: black;
  }
}
@keyframes leftborder {
  from {
    border-left-color: white;
  }
  to {
    border-left-color: black;
  }
}
@keyframes span {
  0% {
    color: white;
  }
  33%,
  66% {
    color: black;
  }
  100% {
    color: white;
  }
}
