body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
}
a {
    color: aqua;    
    background: none;
  }
a:hover {
    color: orange;
}
#div1 {
    width: 5rem;
}